@import '../../styles/sizes.scss';
@import '../../styles/colors.scss';

footer{
	background-color: $mainColor;
	padding: 20px;
	display: grid;
	grid-gap: 20px;
	justify-content: normal;
	grid-template-areas:
		"menuFooter pelotaFooter"
		"redesMenu redesMenu";
	@media screen and (min-width: $min-md){
		padding: 64px 63px 58px 78px;
		grid-template-areas:
			"menuFooter menuFooter menuFooter menuFooter pelotaFooter"
			"redesMenu . . . pelotaFooter";
	}
	.main-menu {
		grid-area: mainMenuFooter;
		text-align: start;
		@media screen and (min-width: $min-md){
			text-align: center;
		}
	}
}
.menu-horizontal{
	.menu-item {
		color: #000;
		&:hover{
			color: $secondColor;
		}
	}
}
.footer-menu{
	grid-area: menuFooter;
}
.redes-menu{
	grid-area: redesMenu;
	padding: 0;
	justify-items: center;
	align-items: center;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	@media screen and (min-width: $min-md){
		grid-gap: 0;
		justify-items: start;
	}
	.red-social {
		color: $secondColor;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		box-sizing: border-box;
		border: 1px solid $secondColor;
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 10%;
		img{
			width: 12px;
			height: auto;
		}
		&:hover{
			background-color: $secondColor;
			img{
				filter: sepia() saturate(10000%) hue-rotate(11deg) brightness(90%);
			}
		}
	}
}
.logo-tennis-footer{
	justify-self: end;
	align-self: start;
	grid-area: pelotaFooter;
	@media screen and (min-width: $min-md){
		align-self: center;
	}
	img{
		width: 45px;
		height: 45px;
	}
}